.track {
    border-bottom: 1px dotted white;
    display: flex;
    justify-content: space-between;
}

.trackText a {
    text-decoration: none;
    color: #dbd7f3;
}

.song {
    font-weight: 600;
}

.artist {
    font-weight: 200;
}

.trackMark {
    font-size: 1rem;
    margin-bottom: 0;
    padding: 2px;
    border: 1px solid white;
    border-radius: 50%;
    width: 1rem;
    text-align: center;
    cursor: pointer;
}